/* Admin form adjustment for desktop screen */
@media screen and (min-width: 48rem) {
  #ip-blocking-form > div {
    border: 2px solid #d0d0d0;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-block-end: 1.25rem;
    padding: 1rem 1rem 0;
  }

  #ip-blocking-form > div p {
    flex: 0 0 100%;
    margin: 0;
  }

  #ip-blocking-form .form-item input {
    margin-inline-end: 2rem;
  }

  #edit-ip {
    width: 24rem; /* Chrome vs. FF ? */
  }

  #edit-reason {
    width: 35rem; /* Chrome vs. FF ? */
  }

  #ip-blocking-form .form-actions {
    margin-inline-start: auto;
    align-self: center;
  }

  #ip-blocking-form .form-submit {
    margin-block-start: 1.35rem;
    margin-inline-end: 0;
  }

  table td {
    min-width: 8rem;
    max-width: 34rem;
  }
}
